:root
{
 --main-bg-color: rgb(73, 67, 67);
}

#menu-button 
{
    width: 45px;
    height: 45px;
    display: block;
    position: relative;
    content: "";
    top: 0;
    left: 0;
    border: 0;
    padding: 0;
    margin: 0;
    background: url('./assets/menu_white.png');
}


#progress-bar 
{
    width: 100%;
    background-color: rgb(112, 104, 104);
}

#type-label
{
    color: rgb(73, 233, 158);
}



#app
{
    overflow: hidden;
    z-index: 2;
}

#menu
{
    top: 65px;
    display: inline;
    background-color: (var(--main-bg-color));
    color: white;
}

#body
{
    overflow: hidden;
    top: 65px;
    z-index: 1;
    background-color: rgb(28, 28, 28);
    
}

#populate-button
{
    background-color: rgb(46, 122, 46);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    margin: auto;
    display:block;
    font-family: 'Lucida Console'; 
    font-size: 20px;
}

#stop-button
{
    background-color: rgba(202, 32, 46, 0.733);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    margin: auto;
    display:block;
    font-family: 'Lucida Console'; 
    font-size: 20px;
}

#progress-label 
{
    color: #d1d1d1;
    font-family: 'Lucida Console'; 
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 1.5%;
    width: 100%;
}

  
#progress-bar-value 
{
    width: 1%;
    height: 30px;
    background-color: rgb(33, 97, 11);
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}